click==6.6
coverage==4.0.3
decorator==4.0.9
oauthlib==1.0.3
pluggy==0.3.1
py==1.4.31
pytest==2.9.1
python-dateutil==2.5.3
python-dotenv==0.4.0
requests==2.9.1
requests-oauthlib==0.6.1
six==1.10.0
Sphinx==1.4.1
sphinx-rtd-theme==0.1.9
tox==2.3.1
tweepy==3.5.0
virtualenv==15.0.1
